# Clerk Auth keys (get from https://clerk.com dashboard)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_c3BlY2lhbC1mb3dsLTQwLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_K9yijO4NfTcb0kZnwBJf0V9jnuPY1OjE1tsugjZnUs"

# Where Clerk redirects after sign-in/sign-out
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Your Express backend URL
NEXT_PUBLIC_API_URL=http://localhost:5000